# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt

# Dependency
vendor/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
